@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welkom bij de bank</h1>
    <p>Wat wilt u vandaag doen?</p>

    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-6">
                <div class="card-group">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Bankrekeningen inzien</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Zoek op rekeninnummer</h6>
                            <p class="card-text">Bekijk per rekeningnummer uw saldo.</p>
                            <a href="bankaccount" class="card-link">Rekening inzien</a>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Hulp nodig?</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Plaats een support aanvraag</h6>
                            <p class="card-text">Komt u er zelf even niet uit? Stel een vraag!</p>
                            <a href="question" class="card-link">Plaats support aanvraag</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>


</div>